<!-- BEGIN HEADER -->
<div class="freecoding-header">
	<a href="{{@blog.url}}" title="{{@blog.title}}">
		{{#if @blog.logo}}
			<div class="freecoding-logo" style="background: url({{@blog.logo}})"></div>
		{{else}}
			<h1>{{@blog.title}}</h1>
		{{/if}}
	</a>
</div>
<!-- END HEADER -->