<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{meta_description}}">
    <meta name="author" content="">
    <title>{{meta_title}}</title>    
    {{ghost_head}}
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />    
    <link rel="stylesheet" type="text/css" href="{{asset "css/lightbox.css"}}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" />
  </head>
  <body>
    {{{body}}}
    <a href="#" class="freecoding-back-to-top" title="Back to top"><i class="fa fa-arrow-up"></i></a>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{ghost_foot}}
    <script src="{{asset "js/lightbox-2.6.min.js"}}"></script>
    <script src="{{asset "js/social-likes.min.js"}}"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&skin=desert"></script>
    <script src="{{asset "js/main.js"}}"></script>
  </body>
</html>